# Godot 4+ specific ignores
.godot/
/android/
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache10
.godot/editor/project_metadata.cfg
.godot/editor/quick_open_dialog_cache.cfg
.godot/editor/recent_dirs
.godot/editor/Test-Scene.tscn-editstate-14081f4c0c3a2b67c8a5aea6f218a3d1.cfg
.godot/editor/Test-Scene.tscn-folding-14081f4c0c3a2b67c8a5aea6f218a3d1.cfg
.godot/mono/metadata/ide_messaging_meta.txt
.godot/uid_cache.bin
.vs/ProjectEvaluation/room207.metadata.v10.bin
.vs/ProjectEvaluation/room207.projects.v10.bin
.vs/ProjectEvaluation/room207.strings.v10.bin
.vs/Room207.slnx/FileContentIndex/15331b6d-b91e-4b4a-9ba3-95690a98fef0.vsidx
.vs/Room207.slnx/FileContentIndex/2ebb9277-02dd-4290-974b-91b0a67b4313.vsidx
.vs/Room207.slnx/FileContentIndex/645d557c-d4df-4480-ad39-94528b94f102.vsidx
.vs/Room207.slnx/FileContentIndex/9009411d-9ab6-4a93-b972-68bb3ef8d985.vsidx
.vs/Room207.slnx/FileContentIndex/9af85f46-9126-4754-8833-fe03619eef90.vsidx
.vs/Room207.slnx/v18/.wsuo
.vs/Room207.slnx/v18/DocumentLayout.backup.json
.vs/Room207.slnx/v18/DocumentLayout.json
.vs/Room207/DesignTimeBuild/.dtbcache.v2
.vs/Room207/FileContentIndex/a6c5ed87-aca7-4a6d-8b32-39e0922e32a6.vsidx
.vs/Room207/v18/.futdcache.v2
.vs/Room207/v18/.suo
.vs/Room207/v18/DocumentLayout.backup.json
.vs/Room207/v18/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
project.godot
.godot/editor/Test-Scene.tscn-folding-14081f4c0c3a2b67c8a5aea6f218a3d1.cfg
